body {
	background-color: #262c38;
}
.table {
	margin: 0 auto;
	max-width: 900px;
}
.victory {
	color: white;
}
.card_slot {
	width: 14.286vw;
	padding: 5px;
	vertical-align: top;
}
@media (max-width: 750px) {
	.card_slot {
		padding: 1px;
	}
}
